@import "ember-cli-bootstrap-4/bootstrap";

.title {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 1.5;
}

.blockquote {
  margin: 10px 0;
  padding: 24px;
  font-size: 17px;
  background-color: #f9f9f9;
}
