<div class="title">What is Stack?</div>

<blockquote class="blockquote">
  A stack is a linear data structure in which the insertion of a new element and
  removal of an existing element takes place at the same end represented as the
  top of the stack.
</blockquote>

<Tabs
  @names={{this.names}}
  @index={{this.index}}
  @methods={{this.methods}}
  @properties={{this.properties}}
/>